<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application
        android:name="org.aerovek.chartr.ChartrApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSplash"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:networkSecurityConfig,android:allowBackup">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB93FFfK-yi7MUO5Bg1q1bvnj4UvSojbu0" />

        <provider
            android:name="org.aerovek.chartr.util.ChartrFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="org.aerovek.chartr.ui.MainActivity"
            android:theme="@style/Theme.AppSplash"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"  />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.aerovek.chartr.ui.onboarding.OnboardingActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:exported="true" />

    </application>
</manifest>